In [9]:
from pymongo import MongoClient
import pandas as pd

In [2]:
db = MongoClient().norn
collection = db['norn_texts']

In [10]:
r = collection.aggregate([
    {"$group" : {"_id" : "$korpus", "count" : {"$sum" : 1}}},
        
])

pd.DataFrame(r)

     _id  count
0  c1800    101
1  c1840    237
2     kk    153